<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-opacity-min">
         <a href="/home" class="w3-bar-item w3-button w3-padding"><b>Home</b></a>
         <a href="/vimlike/help" class="w3-bar-item w3-button w3-padding">Vimlike</a>
         <a href="/better-player" class="w3-bar-item w3-button w3-padding">Better Player</a>
         <a href="/geek-browser/help" class="w3-bar-item w3-button w3-padding">Geek Browser</a>
         <a href="/one-dictionary" class="w3-bar-item w3-button w3-padding">One Dictionary</a>                
    </div>
</div>
