<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="/assets/css/style.css?v=4e0b2f7323894af43a7ec032681cf7a5eac5a46d">

    </head>
    <body>
        {% include header.html %}
        <div class="w3-container w3-content" style="width:100%">
            <main>
                {{ content }}
            </main>
        </div>
    </body>
</html>
